-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: masterarena
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agendamento_historico`
--

DROP TABLE IF EXISTS `agendamento_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agendamento_historico` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `agendamento_id` bigint(20) unsigned NOT NULL,
  `arena_id` bigint(20) unsigned NOT NULL,
  `usuario_id` bigint(20) unsigned DEFAULT NULL,
  `acao` varchar(50) NOT NULL,
  `status_anterior` varchar(30) DEFAULT NULL,
  `status_novo` varchar(30) NOT NULL,
  `motivo` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_historico_agendamento` (`agendamento_id`),
  KEY `idx_historico_arena` (`arena_id`),
  KEY `fk_historico_usuario` (`usuario_id`),
  CONSTRAINT `fk_historico_agendamento` FOREIGN KEY (`agendamento_id`) REFERENCES `agendamentos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_historico_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_historico_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agendamento_historico`
--

LOCK TABLES `agendamento_historico` WRITE;
/*!40000 ALTER TABLE `agendamento_historico` DISABLE KEYS */;
/*!40000 ALTER TABLE `agendamento_historico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agendamentos`
--

DROP TABLE IF EXISTS `agendamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agendamentos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `quadra_id` bigint(20) unsigned NOT NULL,
  `cliente_id` bigint(20) unsigned NOT NULL,
  `data` date NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fim` time NOT NULL,
  `valor_original` decimal(10,2) NOT NULL DEFAULT 0.00,
  `desconto` decimal(10,2) NOT NULL DEFAULT 0.00,
  `valor_final` decimal(10,2) NOT NULL DEFAULT 0.00,
  `cupom_id` bigint(20) unsigned DEFAULT NULL,
  `status` enum('PENDENTE','CONFIRMADO','CANCELADO','CONCLUIDO','BLOQUEADO') NOT NULL DEFAULT 'PENDENTE',
  `observacao` text DEFAULT NULL,
  `criado_por` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_agendamentos_conflict` (`arena_id`,`quadra_id`,`data`,`hora_inicio`,`hora_fim`,`status`),
  KEY `idx_agendamentos_data_status` (`arena_id`,`data`,`status`),
  KEY `idx_agendamentos_cliente` (`arena_id`,`cliente_id`),
  KEY `fk_agendamentos_quadra` (`quadra_id`),
  KEY `fk_agendamentos_cliente` (`cliente_id`),
  KEY `fk_agendamentos_usuario` (`criado_por`),
  KEY `fk_agendamentos_cupom` (`cupom_id`),
  CONSTRAINT `fk_agendamentos_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_agendamentos_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`),
  CONSTRAINT `fk_agendamentos_cupom` FOREIGN KEY (`cupom_id`) REFERENCES `cupons` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_agendamentos_quadra` FOREIGN KEY (`quadra_id`) REFERENCES `quadras` (`id`),
  CONSTRAINT `fk_agendamentos_usuario` FOREIGN KEY (`criado_por`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agendamentos`
--

LOCK TABLES `agendamentos` WRITE;
/*!40000 ALTER TABLE `agendamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `agendamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arenas`
--

DROP TABLE IF EXISTS `arenas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `arenas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(100) NOT NULL,
  `nome_arena` varchar(150) NOT NULL,
  `nome_fantasia` varchar(150) DEFAULT NULL,
  `cnpj` varchar(20) DEFAULT NULL,
  `telefone` varchar(25) DEFAULT NULL,
  `whatsapp` varchar(25) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `endereco` varchar(255) DEFAULT NULL,
  `numero` varchar(20) DEFAULT NULL,
  `bairro` varchar(100) DEFAULT NULL,
  `cidade` varchar(100) DEFAULT NULL,
  `estado` varchar(2) DEFAULT NULL,
  `cep` varchar(15) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `instagram` varchar(150) DEFAULT NULL,
  `facebook` varchar(150) DEFAULT NULL,
  `site` varchar(255) DEFAULT NULL,
  `google_maps_url` text DEFAULT NULL,
  `descricao` text DEFAULT NULL,
  `status` enum('ATIVO','BLOQUEADO','INATIVO') NOT NULL DEFAULT 'ATIVO',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_arenas_slug` (`slug`),
  KEY `idx_arenas_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arenas`
--

LOCK TABLES `arenas` WRITE;
/*!40000 ALTER TABLE `arenas` DISABLE KEYS */;
INSERT INTO `arenas` VALUES (1,'arena-master-beach','Arena Master Beach & Sports','Master Arena Clube','12.345.678/0001-90','1134567890','5511999998888','contato@masterarena.com.br','Av. das Nacoes Unidas','1200','Brooklin','Sao Paulo','SP','04578-000',NULL,'@masterarenaclube','fb.com/masterarenaclube','https://masterarena.com.br','https://maps.google.com/?q=Master+Arena+Clube','A melhor estrutura para esportes de areia e quadras society da regiao.','ATIVO','2026-09-18 18:23:43','2026-09-18 18:23:43');
/*!40000 ALTER TABLE `arenas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assinaturas`
--

DROP TABLE IF EXISTS `assinaturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assinaturas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `plano_id` bigint(20) unsigned NOT NULL,
  `data_inicio` date NOT NULL,
  `data_expiracao` date NOT NULL,
  `status` enum('ATIVA','CANCELADA','EXPIRADA','PENDENTE') NOT NULL DEFAULT 'ATIVA',
  `limite_quadras` int(11) NOT NULL,
  `limite_usuarios` int(11) NOT NULL,
  `limite_agendamentos` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_assinaturas_arena` (`arena_id`),
  KEY `idx_assinaturas_status` (`status`),
  KEY `fk_assinaturas_plano` (`plano_id`),
  CONSTRAINT `fk_assinaturas_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_assinaturas_plano` FOREIGN KEY (`plano_id`) REFERENCES `planos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assinaturas`
--

LOCK TABLES `assinaturas` WRITE;
/*!40000 ALTER TABLE `assinaturas` DISABLE KEYS */;
INSERT INTO `assinaturas` VALUES (1,1,2,'2026-09-18','2027-09-18','ATIVA',6,10,1500,'2026-09-18 18:23:43','2026-09-18 18:23:43');
/*!40000 ALTER TABLE `assinaturas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bloqueios`
--

DROP TABLE IF EXISTS `bloqueios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bloqueios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `quadra_id` bigint(20) unsigned NOT NULL,
  `data_inicio` date NOT NULL,
  `data_fim` date NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fim` time NOT NULL,
  `motivo` varchar(255) NOT NULL,
  `criado_por` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_bloqueios_busca` (`arena_id`,`quadra_id`,`data_inicio`,`data_fim`),
  KEY `fk_bloqueios_quadra` (`quadra_id`),
  KEY `fk_bloqueios_usuario` (`criado_por`),
  CONSTRAINT `fk_bloqueios_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_bloqueios_quadra` FOREIGN KEY (`quadra_id`) REFERENCES `quadras` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_bloqueios_usuario` FOREIGN KEY (`criado_por`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bloqueios`
--

LOCK TABLES `bloqueios` WRITE;
/*!40000 ALTER TABLE `bloqueios` DISABLE KEYS */;
/*!40000 ALTER TABLE `bloqueios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `nome` varchar(150) NOT NULL,
  `telefone` varchar(25) DEFAULT NULL,
  `whatsapp` varchar(25) NOT NULL,
  `cpf` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `observacao` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_clientes_arena_nome` (`arena_id`,`nome`),
  KEY `idx_clientes_arena_whatsapp` (`arena_id`,`whatsapp`),
  KEY `idx_clientes_arena_cpf` (`arena_id`,`cpf`),
  CONSTRAINT `fk_clientes_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
INSERT INTO `clientes` VALUES (1,1,'Carlos Eduardo Silva','11988887777','5511988887777','123.456.789-00','carlos.silva@gmail.com','Cliente assiduo de Beach Tennis.','2026-09-18 18:23:43','2026-09-18 18:23:43');
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracoes_arena`
--

DROP TABLE IF EXISTS `configuracoes_arena`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracoes_arena` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `chave` varchar(100) NOT NULL,
  `valor` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_arena_chave` (`arena_id`,`chave`),
  CONSTRAINT `fk_configuracoes_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracoes_arena`
--

LOCK TABLES `configuracoes_arena` WRITE;
/*!40000 ALTER TABLE `configuracoes_arena` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracoes_arena` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cupom_utilizacoes`
--

DROP TABLE IF EXISTS `cupom_utilizacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cupom_utilizacoes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cupom_id` bigint(20) unsigned NOT NULL,
  `arena_id` bigint(20) unsigned NOT NULL,
  `cliente_id` bigint(20) unsigned NOT NULL,
  `agendamento_id` bigint(20) unsigned NOT NULL,
  `valor_desconto` decimal(10,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cupom_cliente` (`cupom_id`,`cliente_id`),
  KEY `idx_cupom_arena` (`arena_id`),
  KEY `fk_utilizacoes_cliente` (`cliente_id`),
  KEY `fk_utilizacoes_agendamento` (`agendamento_id`),
  CONSTRAINT `fk_utilizacoes_agendamento` FOREIGN KEY (`agendamento_id`) REFERENCES `agendamentos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_utilizacoes_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_utilizacoes_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_utilizacoes_cupom` FOREIGN KEY (`cupom_id`) REFERENCES `cupons` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cupom_utilizacoes`
--

LOCK TABLES `cupom_utilizacoes` WRITE;
/*!40000 ALTER TABLE `cupom_utilizacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `cupom_utilizacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cupons`
--

DROP TABLE IF EXISTS `cupons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cupons` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `codigo` varchar(50) NOT NULL,
  `descricao` varchar(255) DEFAULT NULL,
  `tipo` enum('PERCENTUAL','VALOR_FIXO') NOT NULL DEFAULT 'PERCENTUAL',
  `valor` decimal(10,2) NOT NULL,
  `data_inicio` date NOT NULL,
  `data_fim` date NOT NULL,
  `limite_uso` int(11) NOT NULL DEFAULT 0,
  `limite_por_cliente` int(11) NOT NULL DEFAULT 1,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_arena_cupom_codigo` (`arena_id`,`codigo`),
  KEY `idx_cupons_validade` (`arena_id`,`ativo`,`data_inicio`,`data_fim`),
  CONSTRAINT `fk_cupons_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cupons`
--

LOCK TABLES `cupons` WRITE;
/*!40000 ALTER TABLE `cupons` DISABLE KEYS */;
INSERT INTO `cupons` VALUES (1,1,'BEMVINDO10','Cupom de boas-vindas com 10% de desconto','PERCENTUAL',10.00,'2026-09-18','2027-09-18',100,1,1,'2026-09-18 18:23:43','2026-09-18 18:23:43'),(2,1,'MASTER20','Desconto fixo de R$ 20,00 na primeira reserva','VALOR_FIXO',20.00,'2026-09-18','2027-09-18',50,1,1,'2026-09-18 18:23:43','2026-09-18 18:23:43');
/*!40000 ALTER TABLE `cupons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horarios`
--

DROP TABLE IF EXISTS `horarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `horarios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `quadra_id` bigint(20) unsigned DEFAULT NULL,
  `dia_semana` tinyint(3) unsigned NOT NULL COMMENT '0=Sun, 1=Mon, ..., 6=Sat',
  `hora_inicio` time NOT NULL,
  `hora_fim` time NOT NULL,
  `duracao_minutos` int(11) NOT NULL DEFAULT 60,
  `intervalo_minutos` int(11) NOT NULL DEFAULT 0,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_horarios_arena_dia` (`arena_id`,`dia_semana`,`ativo`),
  KEY `fk_horarios_quadra` (`quadra_id`),
  CONSTRAINT `fk_horarios_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_horarios_quadra` FOREIGN KEY (`quadra_id`) REFERENCES `quadras` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horarios`
--

LOCK TABLES `horarios` WRITE;
/*!40000 ALTER TABLE `horarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `horarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logs`
--

DROP TABLE IF EXISTS `logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned DEFAULT NULL,
  `usuario_id` bigint(20) unsigned DEFAULT NULL,
  `acao` varchar(50) NOT NULL,
  `entidade` varchar(50) NOT NULL,
  `entidade_id` bigint(20) unsigned DEFAULT NULL,
  `detalhes` longtext DEFAULT NULL,
  `ip` varchar(45) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_logs_arena` (`arena_id`),
  KEY `idx_logs_usuario` (`usuario_id`),
  KEY `idx_logs_acao` (`acao`),
  KEY `idx_logs_created_at` (`created_at`),
  CONSTRAINT `fk_logs_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_logs_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logs`
--

LOCK TABLES `logs` WRITE;
/*!40000 ALTER TABLE `logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  `executed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `migration` (`migration`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (7,'2026_09_18_000001_create_saas_base_tables',1,'2026-09-18 18:20:31'),(8,'2026_09_18_000002_create_users_tables',1,'2026-09-18 18:20:31'),(9,'2026_09_18_000003_create_courts_and_sports_tables',1,'2026-09-18 18:20:31'),(10,'2026_09_18_000004_create_clients_tables',1,'2026-09-18 18:20:31'),(11,'2026_09_18_000005_create_schedules_and_blocks_tables',1,'2026-09-18 18:20:31'),(12,'2026_09_18_000006_create_coupons_and_promotions_tables',1,'2026-09-18 18:20:31');
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modalidades`
--

DROP TABLE IF EXISTS `modalidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `modalidades` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `nome` varchar(100) NOT NULL,
  `descricao` text DEFAULT NULL,
  `icone` varchar(50) DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_arena_modalidade` (`arena_id`,`nome`),
  KEY `idx_modalidades_arena_ativo` (`arena_id`,`ativo`),
  CONSTRAINT `fk_modalidades_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modalidades`
--

LOCK TABLES `modalidades` WRITE;
/*!40000 ALTER TABLE `modalidades` DISABLE KEYS */;
INSERT INTO `modalidades` VALUES (1,1,'Beach Tennis','Quadra de areia oficial para Beach Tennis','sports_tennis',1,'2026-09-18 18:23:43','2026-09-18 18:23:43'),(2,1,'Volei de Areia','Quadra de areia com rede oficial de volei','sports_volleyball',1,'2026-09-18 18:23:43','2026-09-18 18:23:43'),(3,1,'Futevolei','Quadra de areia para futevolei','sports_soccer',1,'2026-09-18 18:23:43','2026-09-18 18:23:43'),(4,1,'Futebol Society','Campo sintetico com iluminacao LED','sports_soccer',1,'2026-09-18 18:23:43','2026-09-18 18:23:43');
/*!40000 ALTER TABLE `modalidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planos`
--

DROP TABLE IF EXISTS `planos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `planos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `descricao` text DEFAULT NULL,
  `preco_mensal` decimal(10,2) NOT NULL DEFAULT 0.00,
  `limite_quadras` int(11) NOT NULL DEFAULT 3,
  `limite_usuarios` int(11) NOT NULL DEFAULT 5,
  `limite_agendamentos` int(11) NOT NULL DEFAULT 500,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planos`
--

LOCK TABLES `planos` WRITE;
/*!40000 ALTER TABLE `planos` DISABLE KEYS */;
INSERT INTO `planos` VALUES (1,'Plano Start','plano-start','Ideal para arenas de pequeno porte com ate 2 quadras.',99.00,2,3,300,1,'2026-09-18 18:23:43','2026-09-18 18:23:43'),(2,'Plano Pro','plano-pro','Para arenas de medio porte em expansao com ate 6 quadras.',199.00,6,10,1500,1,'2026-09-18 18:23:43','2026-09-18 18:23:43'),(3,'Plano Premium','plano-premium','Complexos esportivos de grande porte sem limites.',349.00,20,50,10000,1,'2026-09-18 18:23:43','2026-09-18 18:23:43');
/*!40000 ALTER TABLE `planos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promocoes`
--

DROP TABLE IF EXISTS `promocoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `promocoes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `nome` varchar(150) NOT NULL,
  `descricao` text DEFAULT NULL,
  `quadra_id` bigint(20) unsigned DEFAULT NULL,
  `modalidade_id` bigint(20) unsigned DEFAULT NULL,
  `dia_semana` tinyint(3) unsigned DEFAULT NULL COMMENT '0-6 or NULL for all days',
  `hora_inicio` time DEFAULT NULL,
  `hora_fim` time DEFAULT NULL,
  `valor_promocional` decimal(10,2) NOT NULL,
  `data_inicio` date NOT NULL,
  `data_fim` date NOT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_promocoes_busca` (`arena_id`,`ativo`,`data_inicio`,`data_fim`),
  KEY `fk_promocoes_quadra` (`quadra_id`),
  KEY `fk_promocoes_modalidade` (`modalidade_id`),
  CONSTRAINT `fk_promocoes_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_promocoes_modalidade` FOREIGN KEY (`modalidade_id`) REFERENCES `modalidades` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_promocoes_quadra` FOREIGN KEY (`quadra_id`) REFERENCES `quadras` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promocoes`
--

LOCK TABLES `promocoes` WRITE;
/*!40000 ALTER TABLE `promocoes` DISABLE KEYS */;
INSERT INTO `promocoes` VALUES (1,1,'QUARTA DO BEACH','Preco especial de R$ 50 para quadras de areia nas tardes de quarta',NULL,NULL,3,'14:00:00','17:00:00',50.00,'2026-09-18','2027-03-18',1,'2026-09-18 18:23:43','2026-09-18 18:23:43');
/*!40000 ALTER TABLE `promocoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quadras`
--

DROP TABLE IF EXISTS `quadras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quadras` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `modalidade_id` bigint(20) unsigned NOT NULL,
  `nome` varchar(100) NOT NULL,
  `descricao` text DEFAULT NULL,
  `capacidade` int(11) NOT NULL DEFAULT 4,
  `valor_padrao` decimal(10,2) NOT NULL DEFAULT 0.00,
  `status` enum('ATIVO','MANUTENCAO','INATIVO') NOT NULL DEFAULT 'ATIVO',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_quadras_arena_status` (`arena_id`,`status`),
  KEY `fk_quadras_modalidade` (`modalidade_id`),
  CONSTRAINT `fk_quadras_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_quadras_modalidade` FOREIGN KEY (`modalidade_id`) REFERENCES `modalidades` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quadras`
--

LOCK TABLES `quadras` WRITE;
/*!40000 ALTER TABLE `quadras` DISABLE KEYS */;
/*!40000 ALTER TABLE `quadras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned DEFAULT NULL,
  `nome` varchar(150) NOT NULL,
  `email` varchar(150) NOT NULL,
  `senha_hash` varchar(255) NOT NULL,
  `telefone` varchar(25) DEFAULT NULL,
  `perfil` enum('SUPERADMIN','ADMIN','FUNCIONARIO') NOT NULL DEFAULT 'FUNCIONARIO',
  `status` enum('ATIVO','INATIVO','BLOQUEADO') NOT NULL DEFAULT 'ATIVO',
  `ultimo_login` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_usuarios_email` (`email`),
  KEY `idx_usuarios_arena_perfil` (`arena_id`,`perfil`),
  KEY `idx_usuarios_status` (`status`),
  CONSTRAINT `fk_usuarios_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `valores_horarios`
--

DROP TABLE IF EXISTS `valores_horarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `valores_horarios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `arena_id` bigint(20) unsigned NOT NULL,
  `quadra_id` bigint(20) unsigned DEFAULT NULL,
  `modalidade_id` bigint(20) unsigned DEFAULT NULL,
  `dia_semana` tinyint(3) unsigned NOT NULL COMMENT '0=Sun, 1=Mon, ..., 6=Sat',
  `hora_inicio` time NOT NULL,
  `hora_fim` time NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_valores_arena_busca` (`arena_id`,`dia_semana`,`hora_inicio`,`hora_fim`),
  KEY `fk_valores_quadra` (`quadra_id`),
  KEY `fk_valores_modalidade` (`modalidade_id`),
  CONSTRAINT `fk_valores_arena` FOREIGN KEY (`arena_id`) REFERENCES `arenas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_valores_modalidade` FOREIGN KEY (`modalidade_id`) REFERENCES `modalidades` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_valores_quadra` FOREIGN KEY (`quadra_id`) REFERENCES `quadras` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `valores_horarios`
--

LOCK TABLES `valores_horarios` WRITE;
/*!40000 ALTER TABLE `valores_horarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `valores_horarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-18 19:12:18
